@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 480px; border-radius: 15px; background-color: #CECECE;">
        <h3 class="text-center" style="color:black">@ViewData["Title"]</h3>

        <!-- Form Section -->
        <form id="account" method="post" class="scrollable-content mb-3" style="height: 320px; overflow-y: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>

            <div class="mb-2">
                <label asp-for="Input.UserName" class="form-label">Username</label>
                <input asp-for="Input.UserName" class="form-control" placeholder="Enter Username" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.FirstName" class="form-label">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="Enter First Name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.LastName" class="form-label">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Enter Last Name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.MobilePhone" class="form-label">Phone Number</label>
                <input asp-for="Input.MobilePhone" class="form-control" placeholder="Enter Phone Number" />
                <span asp-validation-for="Input.MobilePhone" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.Password" class="form-label">Password</label>
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-2">
                <label asp-for="Input.Department" class="form-label">Department</label>
                <select asp-for="Input.Department" class="form-select">
                    <option value="" disabled selected>Select Department</option>
                    <option value="D1">D1</option>
                    <option value="D2">D2</option>
                    <option value="D3">D3</option>
                    <option value="WAREHOUSE">WAREHOUSE</option>
                </select>
                <span asp-validation-for="Input.Department" class="text-danger"></span>
            </div>

        </form>
        <!-- Static Buttons Section -->


        <div class="button-container mt-3 d-flex justify-content-between" style="background-color: #CECECE">
            <a class="btn btn-dark" style="width:180px" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>

            <button id="registerSubmit" class="btn btn-dark" style="width:180px; " onclick="submitForm()">Register</button>

        </div>

        <script>
            function submitForm() {
                document.getElementById("account").submit();
            }
        </script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
